* {
    font-family: "Chivo", "Symbols Nerd Font", monospace;
    font-weight: 800;
    font-size: 13px;
    color: #C4A7E7;
    min-height: 0;

}

window#waybar {
    background: transparent;
    border: none;
}

window#waybar > box {
    background: transparent;
    border: none;
    margin: 3px 10px 0px 10px;
    padding: 0;
}

/* ---- one big floating bar ---- */
window#waybar > box {
    background: rgba(0, 0, 0, 0.1);
    border: 2px solid #3f3f42;
    border-radius: 20px;
    padding: 0px 20px;
    margin: 3px 10px 0px 10px;
}

.modules-left,
.modules-center,
.modules-right {
    background: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

/* ---- workspaces ---- */
#workspaces button {
    padding: 0px 1px;
    margin: 3px 2px;
    border-radius: 0;
    background: transparent;
    color: #5b4950;
}

#workspaces button.active {
    border-bottom: 2px solid #C4A7E7;
}

#workspaces button:hover {
    background: #1e1e1e;
}

#workspaces button.urgent {
    background: #5b4950;
}

/* ---- left side ---- */
#custom-cpucat {
    font-family: "Waycat";
    font-weight: normal;
    font-size: 32px;
    color: #ffffff;

    padding: 0 8px;
    margin-top: -6px;
    margin-bottom: -6px;
}

/* ---- uniform spacing for every module in the center and right islands ---- */
#network,
#bluetooth,
#mpris,
#wireplumber,
#backlight,
#battery,
#clock {
    margin: 0 8px;
    padding: 0;
}

/* ---- center island ---- */
#network.disconnected,
#network.disabled,
#bluetooth.off,
#bluetooth.disabled {
    opacity: 0.5;
}

#mpris.playing {
    color: #c4a7e7;
}

#mpris.paused {
    opacity: 0.5;
}

/* ---- right side ---- */
#battery.warning {
    background: rgba(244, 246, 119, 0.293);
    padding: 1px 8px;
}

#battery.critical {
    background: rgba(255, 0, 72, 0.534);
    padding: 1px 8px;
}

#wireplumber.muted {
    opacity: 0.6;
}

#custom-power {
    padding: 0 6px;
}

/* ---- tooltips ---- */
tooltip {
    background: #111111;
    border: 1px solid #333333;
}

tooltip label {
    color: #e0def4;
    font-size: 11px;
}