* {
    font-family: "Chivo", "Symbols Nerd Font", monospace;
    font-weight: 800;
    font-size: 13px;
    color: #C4A7E7;
}

window#waybar {
    background: transparent;
    border: none;
}

window#waybar > box {
    background: transparent;
    border: none;
    margin: 5px 10px 0px 10px;
    padding: 0;
}

.modules-left,
.modules-right {
    background: rgba(0, 0, 0, 0.1);
    border: 2px solid #3f3f42;
    border-radius: 20px;
    padding: 0px 8px;
}

.modules-left {
    margin-right: 25px;
}

.modules-right {
    margin-left: 25px;
}

#workspaces button {
    padding: 0px 1px;
    margin: 3px 2px;
    border-radius: 0;
    background: transparent;
    color: #5b4950;
}

#workspaces button.active {
    border-bottom: 2px solid #C4A7E7;
}

#workspaces button:hover {
    background: #1e1e1e;
}

#workspaces button.urgent {
    background: #5b4950;
}

#mpris {
    font-weight: 700;
    padding: 0 4px;
}

#backlight,
#wireplumber,
#battery {
    margin-left: 12px;
}

#battery.warning {
    background: rgba(246, 193, 119, 0.15);
    padding: 1px 4px;
}

#battery.critical {
    background: rgba(235, 111, 146, 0.18);
    padding: 1px 4px;
}

#wireplumber.muted {
    opacity: 0.6;
}

tooltip {
    background: #111111;
    border: 1px solid #333333;
}

tooltip label {
    color: #e0def4;
    font-size: 11px;
}

#custom-launcher {
}

#custom-cpucat {
    font-family: "Waycat";
    font-weight: normal;
    font-size: 32px;
    color: #ffffff;
    padding-left: 8px;
    padding-right: 8px;
}
