@theme "tokyo"

* {
    bg: rgba(17, 18, 29, 0.6);
    bg-alt: rgba(62, 71, 89, 0.6);
    fg: rgba(255, 255, 255, 0.6);
    fg-alt: #787c99;

    background-color: transparent;

    border: 0;
    margin: 0;
    padding: 0;
    spacing: 0;
}

configuration {
    modes: "drun";
    show-icons: true;
    font: "JetBrainsMono Nerd Font 12";
    display-drun: "Search: ";
}

window {
    location: center;
    anchor: center;
    width: 50%;
    border-radius: 12px;
    transparency: "real";
    border: 2px;
    border-color: #ffffff30;
    background-color: rgba(17, 18, 29, 0.85);
}

mainbox {
    orientation: vertical;
    children: [inputbar, listview];
    background-color: transparent;
}

/* --- SEARCH BAR --- */

inputbar {
    children: [prompt, entry];
    background-color: transparent;
    border-radius: 12px;
    padding: 15px 15px 0px 15px;
}

prompt {
    background-color: transparent;
    text-color: @fg;
    padding: 0px 6px 0px 0px;
}

entry {
    background-color: transparent;
    text-color: @fg;
}

/* --- APPLICATION LIST --- */

listview {
    columns: 2;
    lines: 10;
    padding: 15px;
    fixed-height: true;
    fixed-columns: true;
    scrollbar: false;
    background-color: transparent;
}

element {
    padding: 10px;
    text-color: @fg-alt;
    background-color: transparent;
    border-radius: 12px;
}

element selected {
    text-color: #11121d;
    background-color: #18CBEF;
}

element-text {
    background-color: inherit;
    text-color: inherit;
    vertical-align: 0.5;
}

element-icon {
    size: 25px;
    background-color: inherit;
    padding: 0px 10px 0px 0px;
}
